<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <style>
        body {
            background-color: #500078;
            color:white;
        }

        .details-button {
            background-color: #9040ff;
            color: #fff;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
        }
        .details-button2 {
            background-color: #af0006;
            color: #fff;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
        }

        .center-table {
            margin-top: 25px;
            margin: 1 auto;
            width: 90%;
            color: #fff;
        }
    </style>

    <title>Eventos</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a href="/">Home</a>
            <a class="navbar-brand" href="#">Eventos</a>
        </div>
    </nav>

    <div class="container">
        <table class="table center-table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre Cliente</th>
                     <th scope="col">Categoria</th>
                    <th scope="col">Fecha de Ejecución</th>
                     <th scope="col">Direccion</th>
                      <th scope="col">Estado</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Pagado</th>
                     <th scope="col">Por Cobrar</th>
                      <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Jorge Ignacio</td>
                    <td>cumpleaños</td>
                    <td>12/04/2023</td>
                    <td>cll 24 #33-55</td>
                    <td>pendiente</td>
                    <td>700.000</td>
                    <td>300.000</td>
                    <td>400.000</td>
                    <td><button class="details-button">Ver detalle</button></td>
                     <td><button class="details-button2">cancelar</button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Raul Marques</td>
                    <td>boda</td>
                    <td>11/08/2023</td>
                    <td>cll 24 #33-55</td>
                    <td>cancelado</td>
                    <td>900.000</td>
                    <td>400.000</td>
                    <td>500.000</td>
                    <td><button class="details-button">Ver detalle</button></td>
                     <td><button class="details-button2">cancelar</button></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Sofia</td>
                    <td>cumpleaños</td>
                    <td>31/04/2023</td>
                    <td>cll 24 #33-55</td>
                    <td>pendiente</td>
                    <td>2.700.000</td>
                    <td>1.300.000</td>
                    <td>1.400.000</td>
                    <td><button class="details-button">Ver detalle</button></td>
                     <td><button class="details-button2">cancelar</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    {{!-- <footer style="background-color: #000; color: #fff; padding: 20px; text-align: center;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Sección 1</h4>
                <p>Información de la sección 1.</p>
            </div>
            <div class="col-md-4">
                <h4>Sección 2</h4>
                <p>Información de la sección 2.</p>
            </div>
            <div class="col-md-4">
                <h4>Sección 3</h4>
                <p>Información de la sección 3.</p>
            </div>
        </div>
    </div>
</footer> --}}

    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
</body>
</html>
