<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/sesion.css">
    <title>Registro</title>
</head>
<body>
    <form id="msform">
      <div class="form-body">
        <img src="/images/imguserlogin.png" alt="user-login">
        <p class="text">Bienvenidos Ingresa Tus Datos</p>

        <h2 class="fs-title">{{modulo}}</h2>
        <h3 class="fs-subtitle">{{descripcion_modulo}}</h3>
        <input type="text" id="usuario" required placeholder="Ingrese su Usuario">
        <input type="password" id="contrasena" required placeholder="Ingrese su Contraseña"><br>
        <input type="text" id="nombre" required placeholder="Ingrese su Nombre y Apellido"> 
        <button id="btn" type="submit" name="next" class="next action-button">Crear Cuenta</button>
        </form>
        <form action="home">
          <button type="submit">Regresar al inicio</button>
        </form>
      <script src="../js/ValidacionesRegistro.js"></script>

</body>
</html>